@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 22px;
    line-height: 26px;

    margin: 0;
    padding: 0;

    background-color: #F2F2F2;
    color: #000;

    display: flex;
    flex-direction: column;
}

.page-container {
    background-color: #FFF;
    width: 1200px;
    margin: 0 auto;
}

.page-header {
    background-color: #fff;
}

.main-container {
    flex-grow: 1;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    text-align: center;

}

.button
.navigation-link  {
    background: #756157;
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 339px;
}

.navigation-list-additional {
    width: 268px;
    margin-left: auto;
}


.hero-block {
    background-image: url("../images/index-background.jpeg");
    background-color: #82B3D3;
    color: #000;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.welcome-sign {
    display: block;
    margin: 0 auto;
}

.sedona-description {
    padding-top: 166px;
    padding-bottom: 90px;
    text-align: center;
}

.advantages b {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    display: block;
}

.advantages > p {
    text-align: center;
}

.advantages-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.advantages-item {
    width: 400px;
    height: 384px;

}

.advantages-picture {

}

.advantages-title {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28p;
    text-align: center;
    text-transform: uppercase;
    padding-top: 92px;
}

.advantages-description {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.darkblue-background
.advantages-title {
    color: #fff;
    font-weight: 700px;
    font-size: 24px;
    line-height: 28px;
}



.darkblue-background
.advantages-description {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
}

.lightblue-background {
    background-color: rgba(131, 179, 211, 0.12);
}

.blue-background {
    background-color: rgba(131, 179, 211, 0.2);
}

.darkblue-background {
    background-color: #82B3D3;

}


.recommendations-list {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.recommendations-item {
    width: 400px;
    height: 384px;
}

.recommendations-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.recommendations-description {
    color: #333333;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.book-hotel {
    text-align: center;
}

.book-hotel b {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.book-hotel p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}


.find-hotel-button {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
    background: #756157;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 50px;
}

.newsletter-subscription {
    background-image: url("../images/newsletter-background.jpeg");
    background-color: #000000;
    background-size: 100% auto;
    color: #ffffff;
    text-align: center;
}

.newsletter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-promise {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.email-form {
    width: 452px;
    height: 52px;
    background: #F2F2F2;
    border-radius: 4px 0 0 4px;
}

.form-submit-button {
    background: #82B3D3;
    border-radius: 0 4px 4px 0;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 50px;
}

.page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-social-list {
    list-style-type: none;
    display: flex;
    width: 142px;
}

.contact-phone {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    width: 331px;
}

.social-button {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}
