@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;

    background-color: #fff;
    color: #000;
}

.page-header {
    background-color: #fff;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    text-align: center;

}

.navigation-list, .navigation-list-additional {
    list-style-type: none;
}

.hero-block {
    background-image: url("../images/index-background.jpeg");
    background-color: #fff;
    color: #000;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.advantages b {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    display: block;
}

.advantages > p {
    text-align: center;
}

.advantages-list {
    list-style-type: none;
}

.advantages-title {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28p;
    text-align: center;
    text-transform: uppercase;
}

.advantages-description {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}


.advantages-description-wrapper {
    background-color: #82B3D3;
    text-align: center;
}

.advantages-description-wrapper .advantages-title {
    background-color: #82B3D3;
    color: #fff;
    font-weight: 700px;
    font-size: 24px;
    line-height: 28px;
}



.advantages-description-wrapper .advantages-description {
    color: #fff;
    font-size: 18px;
    line-height: 21px;
}
